body {
  font-family: 'Roboto', sans-serif;
}

#food {
  font-style: italic;
}

header {
  color: white;
  background-color: purple;
  text-align: center;
  font-family: 'Righteous', cursive;
}

#container {
  border: 1px solid gray;
}

#img-right {
  float: right;
}

#bio-content {
  height: 500px;
}

