body {
  font-family: 'Roboto', sans-serif;
}

#food {
  font-style: italic;
}

header {
  color: white;
  background-color: purple;
  text-align: center;
  font-family: 'Righteous', cursive;
  padding: 20px 20px 20px 20px;
}

footer {
  color: white;
  background: purple;
  clear: both;
  text-align: center;
  padding: 20px 20px 20px 20px;
}

#container {
  border: 1px solid gray;
}

#img-right {
  float: right;
  margin: 0px 0px 0px 10px;
}

#bio-content {
  height: 500px;
}

