body {
  font-family: 'Roboto', sans-serif;
}

#food {
  font-style: italic;
}

header {
  color: white;
  background-color: purple;
  text-align: center;
  font-family: 'Righteous', cursive;
  padding: 20px 20px 20px 20px;
}

footer {
  color: white;
  background: purple;
  clear: both;
  text-align: center;
  padding: 20px 20px 20px 20px;
}

#container {
  border: 1px solid gray;
}

#img-right {
  float: right;
  margin: 0px 0px 0px 10px;
}

#bio-content {
  margin: 0px 0px 0px 250px;
  border-left: 1px solid gray;
  padding: 10px 10px 10px 10px;
  height: 500px;
}

#list-top{
  float: left;
  width: 230px;
  margin: 0;
  padding: 10px;
  height: 500px;
}

/*Navbar*/

#nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #4d004d;
}

#nav li {
  float: left;
}

#nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

